spring:
  datasource:
    url: jdbc:postgresql://techbites-db:5432/techbitesdb
    username: techbites
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
